<h1>Automatically import your Twitter Favourites to Kippt</h1>
<p>You'll need to connect with Twitter and authenticate with Kippt in order to activate the service. You'll only need to do this once, we'll take care of the rest.</p>
<p>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
</p>